<!-- HEADER -->
<header>
  <div class="container">
    <a href="/home">
      <h1 class="logo">
        MY<span>RESUME</span>
      </h1>
    </a>
    <section class="social">
      <a class="btn" href="skype:{{resume.social.skype}}?add">Skype <i class="fa fa-skype" aria-hidden="true"></i></a>
      <a class="btn" href="{{resume.social.linkedin}}">LinkedIn <i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a class="btn" href="{{resume.social.facebook}}">Facebook <i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a class="btn" href="{{resume.social.bitbucket}}">Bitbucket <i class="fa fa-bitbucket" aria-hidden="true"></i></a>
      <a class="btn" href="{{resume.social.twitter}}">Twitter <i class="fa fa-twitter" aria-hidden="true"></i></a>
    </section>
  </div>
</header>

<!-- CONTENT -->
<div class="container-fluid" style="padding-top: 18px;">
  <div class="row">
    
    <div class="col-md-3 sidebar">
    	<!-- SIDEBAR: PROFILE -->
	    <div class="thumbnail">
	      <img src="{{resume.profileImage}}" class="img-circle">
	      <div class="caption">
	        <h3>{{resume.nickName}}<br/><small>{{resume.objective}}</small></h3>
	        <p>{{resume.summary}}</p>
	        <hr />
	        <div class="col-sm-6">
	        	{{resume.age}} years old
        	</div>
	        <div class="col-sm-6">
	        	{{resume.married == true ? 'Married' : 'Single'}} ({{resume.children}} <i class="fa fa-child" aria-hidden="true"></i>)	        	
	        </div>
	        <br />
			  </div>
			</div>
			<!-- SIDEBAR: CONTACTS -->
			<div class="thumbnail">
	      <div class="caption">
	        <h3>Contact</h3>
	        <div class="contacts">
		        <p>
		        	<i class="fa fa-map-marker" aria-hidden="true"></i>
		        	{{resume.location}}
		        </p>
		        <p>
		        	<i class="fa fa-whatsapp" aria-hidden="true"></i>
		        	{{resume.contacts.mobile}}
		        </p>
		        <p>
		        	<i class="fa fa-envelope-o" aria-hidden="true"></i>
		        	{{resume.contacts.email}}
		        </p>
	        </div>
			  </div>
			</div>
			<!-- SIDEBAR: LANGUAGES -->
			<div class="thumbnail">
	      <div class="caption">
	        <h3>Languages</h3>
	        <div class="lnaguages">
		        <p *ngFor="let language of resume.languages">
							<i class="fa fa-globe" aria-hidden="true"></i>
							{{language.name}}&nbsp;
							<span class="label label-{{language.css}}">{{language.level}}</span>
						</p>
	        </div>
			  </div>
			</div>
    </div>

		<!-- MAIN CONTENT: FULL CV -->
    <div class="col-md-9 main">
      <h1 class="page-header">Resume: <small>{{resume.name}}</small></h1>
      <!-- BREADCRUMB -->
      <ol class="breadcrumb">
			  <li class="active">Home</li>
			  <li><a href="#education">Education</a></li>
				<li><a href="#skills">Skills</a></li>
			  <li><a href="#experiences">Experience</a></li>
			</ol>
			<!-- EDUCATION SECTION -->
			<div class="container col-md-12" id="education">
				<h3>EDUCATION</h3>
				<div *ngFor="let education of resume.education">
					<span class="title envy">{{education.title}}: </span>
					<blockquote>
						<p>
							<span>{{education.school}}</span>, 
							({{education.conclusion}})
						</p>
						<p>
							<i class="fa fa-graduation-cap" aria-hidden="true"></i>
							{{education.course}}
						</p>
					</blockquote>
				</div>
			</div>
			<!-- SKILLS SECTION -->
			<div class="container col-md-12" id="skills">
				<h3>SKILLS</h3>
				<ul *ngFor="let skill of resume.technicalSkills" class="list-unstyled">
					<li>
						<p>
							<span class="title cian">
								<i class="fa fa-{{skill.icon}}" aria-hidden="true"></i>
								<b>{{skill.index}}</b>: 
							</span>	
							{{skill.values.join(', ')}}
						</p>
					</li>
				</ul>
			</div>
			<!-- TIMELINE: EXPERIENCES -->
			<div class="container col-md-12" id="experiences">
			  <h3>EXPERIENCES</h3>
			  <div id="timeline">
			    <div class="timeline-item" *ngFor="let experience of resume.experiences">
			      <div class="timeline-icon">
			        <i class="fa fa-briefcase" aria-hidden="true"></i>
			      </div>
			      <div class="timeline-content">
			        <h4>{{experience.company}}</h4>
			        <p><b>{{experience.jobTitle}}</b></p>
			        <p>
			        	<i class="fa fa-calendar" aria-hidden="true"></i>
			        	{{experience.periodIn | date:'MM/yyyy'}} ~ 
			        	<i class="fa fa-calendar" aria-hidden="true"></i>
			        	{{experience.periodOut == null ? 'Current' : experience.periodOut | date:'MM/yyyy'}}
			        </p>
			        <p>
			        	<i class="fa fa-bullseye" aria-hidden="true"></i>
			        	{{experience.duties}}
			        </p>
			        <div>
			        	<i class="fa fa-search" aria-hidden="true"></i>
			        	{{experience.technologies.join(', ')}}
			        </div>
			      </div>
			    </div>
			  </div>
			</div>
    </div>
  </div>

</div>